-# bower_path = '../bower_components'
- bower_path = '../../../bower_components'
- edgejs_path = '../dist/js/edge.js'
- edgejs_css_path = '../dist/css'
- title = 'Basic Demo with listRenderView'

!!! 5
%html
  %head
    %title #{title}
    %script{:src=>"#{bower_path}/jquery/jquery.min.js"}
    %script{:src=>"#{bower_path}/jquery-ui/jquery-ui.min.js"}
    %script{:src=>"#{edgejs_path}"}
    %link{:rel=>"stylesheet",:href=>"#{edgejs_css_path}/edge.css"}
    %link{:rel=>"stylesheet",:href=>"./css/example-main.css"}
  %body
    %div#tbar
      %div.efu-row.full
        %div.efu-col.w50
          %a#barlogo
            %img{:src=>"./css/img/edgesmall.png"}
        %div.efu-col.w50.tright
          #{title}
    %div#container
      %div.efu-row.full
        %div.efu-col.w100{:style=>"padding-top:2em"}
          %form#mainform.std-styled
            %div.efu-row.full
              %div.efu-col.w60
                %p.hint
                  This is a basic form with multiple files allowed to be added.
                  You can add files by either clicking on the button or dragging them onto it.
                %p
                  %input{:type=>"text",:placeholder=>"Some text input..."}
                %p
                  %input{:type=>"text",:placeholder=>"Another text input..."}
                %p
                  %textarea{:placeholder=>"And a big one too..."}
                %div#files-render
                  <!-- auto-filled -->
                %p.no-verysmall
                  %input{:type=>"submit"}
              %div.efu-col.w10
                &nbsp;
              %div.efu-col.w30
                %div#uploader
                  %p
                    For NOSCRIPT people you can add a fallback
                  %input{:type=>"file", :name=>"file"}
            %div.efu-row.full.verysmall
              %p{:style=>"margin-top:1em"}
                %input{:type=>"submit"}
  %div#footer
    %span
      Edge.js available at GitHub:
      %a{:href=>"https://github.com/activenode/EdgeJS"} EdgeJS@GitHub
      |
      Developed by
      %strong
        activenode.de
      (David Lorenz)

  :javascript
    Edge.create({
      receiver: '#uploader',
      fileName: 'file',
      multiUpload: true,
      listRenderView: $('#files-render'),
      processors: {
        onAfterViewRendered: function(_self) {
          var isEmpty = _self.find('li').length===0;
          if (isEmpty) {
            _self.html('No files added...').show();
          }
        }
      }
    });
